<nav class="navbar"><h4 class="m-0">Cars Project</h4></nav>
<main class="d-flex justify-content-center main__content">
  <section class="container-xl">
    <h1 class="list__heading">Cars List</h1>
    <hr class="list__hr" />
    <div>
      <div class="d-flex justify-content-between align-items-start gap-2">
        <input
          type="search"
          class="form-control cars__search"
          placeholder="Search..."
          #search
          (keyup)="searchCars(search.value)"
        />

        <button
          type="button"
          class="btn btn-success add__button"
          (click)="openAddCarModal()"
        >
          Add
        </button>
      </div>

      <div class="car-container">
        <app-car-card
          *ngFor="let car of cars"
          [car]="car"
          (onUpdate)="openUpdateCarModal(car)"
          (onDelete)="openDeleteCarModal($event)"
        ></app-car-card>
      </div>
    </div>
  </section>
</main>
