<div class="modal-header">
  <h4 class="modal-title">Delete {{ car!.model.name }}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Cancel"
    tabindex="-1"
    (click)="onCancel.emit()"
  ></button>
</div>
<div class="modal-body">
  <p>Are you sure you want to delete this car?</p>
</div>
<div class="modal-footer">
  <div class="d-grid gap-2 d-md-block col-12">
    <button
      type="button"
      class="btn btn-secondary me-md-2"
      (click)="onCancel.emit()"
    >
      Cancel
    </button>

    <button type="button" class="btn" (click)="onDelete.emit()">Delete</button>
  </div>
</div>
