/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

* {
  font-family: "Inter", "Courier New";
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-label > .label-asterisk {
  color: red;
}

.modal-header {
  border-bottom: initial;
}

.modal-footer {
  border-top: initial;
}

.btn {
  font-weight: 700;
  width: 100px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-label > input {
  margin-top: 6px;
}
